#logo {
    height: 80%;
    min-height: 80%;
    position: relative;
    top: -1px;
}
#interface-logo {
    position: relative;
    height: 40%;
    min-height: 2.7%;
    top: -8.5px;
}

#nav-bar {
    background: white;
    width: 100%;
    height: 7%;
    border-bottom: dashed 1px black;
}


html {
    margin:0;
	padding:0;
	height: 100%;
	font-family: Raleway;
}
body {
	margin: 0;
	height: 100%;
}
ul li a {
    position: relative;
}
a {
    color: navy;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.underline, .hide-underline {
    position: absolute;
    width: 0%;
    background: navy;
    z-index: 1;
   	top: 80%;
   	height: 2px;
}
.underline-container {
    position: relative;
    display: inline-block;
    animation: bounceDown 0.5s 1 ease forwards;
    margin-left: 30px;
}
.underline-container:hover {
    animation: bounceUp 0.5s 1 ease forwards;
}
.noselect {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.nav-link {
	font-size: 30px;
	position: relative;
    top: -8px;
}
#dropdown-button {
    position: absolute;
    left: 75%;
    z-index: 9;
}
#menu-dropdown {
	z-index: 4;
	overflow: hidden;
	position: absolute;
	background-color: white;
	top: 7%;
	width: 83%;
	height: 0%;
	font-size: 45px;
	color: navy;
}
#dropdown-items {
	position: absolute;
	text-align: center;
	top: 10%;
	width: 101%;
	z-index: 4;
}

